[data-theme="light"] {
    background-color: $color-light-gray-cyan;


    .app-field--calculations {
        background-color: $color-very-dark-accent;

        p:first-of-type {
            color: $color-white;
        }

        p:first-of-type span {
            color: $color-gray-cyan;
        }

        button {
            background-color: $color-accent;
        }
    }

    .btn-tip {
        background-color: $color-very-dark-accent;
        color: $color-white;

        &:hover {
            background-color: $color-light-gray-cyan;
            color: $color-very-dark-accent;
        }
    }

    .tip-amount-text {
        color: $color-accent;
    }
}